<h1>Recipies</h1>
<% if @recipies.length > 0 %>
<% @recipies.each do |recipe|%>
 <%= link_to "#{recipe.name}", "/recipies/#{recipe.id}" %>
    <p><%= recipe.description%><p>
   <%= button_to "delete","/recipies/#{recipe.id}", method: :delete %>
    <% end %>
<% else %>
    <h1> No Recipies</h1>
<% end %>